@keyframes card-swipe {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes text-appear {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
