.btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &--add {
    position: fixed;
    bottom: clamp(2rem, 5vw, 3rem);
    right: clamp(2rem, 5vw, 3rem);
    font-size: clamp(2rem, 5vw, 3rem);
    color: var(--text-color-light);
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    background-image: linear-gradient(
      to left top,
      var(--primary-color) 0%,
      var(--secondary-color) 80%
    );
    &:hover {
    }
  }
}
