.calendar {
  margin-bottom: 2rem;

  &__header {
    margin-bottom: 2rem;
  }
  &-day {
    &__number {
      position: relative;
      font-size: clamp(1rem, 2vw, 1.6rem);
      height: clamp(7.5rem, 10vw, 15rem);
      padding: clamp(0.5rem, 2vw, 2.5rem);
      background-color: var(--card-color);
    }
  }
  &-weekday {
    color: var(--text-color-light);
    text-align: center;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 1.6rem);
    padding: clamp(1rem, 1vw, 1.5rem);
    &--tablet {
      color: var(--text-color-light);
      display: none;
      padding: clamp(1rem, 1vw, 1.5rem);
      font-size: clamp(1.2rem, 1vw, 1.6rem);
    }
  }
}

.calendar-month {
  max-width: 100rem;
  margin: 0 auto;

  &__header {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: space-between;
    > * {
      flex: 1;
      text-align: center;
    }
    &__title {
      font-size: clamp(1.6rem, 3vw, 2.4rem);
      flex: 2;
    }
    &__btn {
      background: none;
      border: none;
      font-size: clamp(3rem, 5vw, 4rem);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  &__weekdays {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-image: linear-gradient(
      to right,
      var(--primary-color) 0%,
      var(--secondary-color) 50%
    );
    outline: 0.1rem solid var(--primary-color);
    z-index: 1;
  }

  &__days {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;

    &__day {
      position: relative;
      background-color: var(--card-color);
      outline: 1px solid black;
    }
  }
}

@include tablet {
  .calendar {
    &-weekday {
      display: none;
      &--tablet {
        display: block;
      }
    }
  }

  .calendar-month {
    &__header {
      justify-content: center;
      &__title {
        width: 20rem;
      }
      > * {
        flex: unset;
      }
    }
  }
}
